<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Noticia</title>
</head>
<body>
<h1>Editar Noticia</h1>
<form th:object="${noticia}" th:action="@{/noticia/atualizar}" method="post">
  <input type="hidden" th:field="*{id}">
  <label for="titulo">Titulo:</label>
  <input type="text" id="titulo" name="titulo" th:field="*{titulo}"/>
  <br>
  <label for="descricao">Descrição:</label>
  <input type="text" id="descricao" name="descricao" th:field="*{descricao}"/>
  <br>
  <label for="imagem">Imagem:</label>
  <input type="text" id="imagem" name="imagem" th:field="*{imagem}"/>
  <br>
  <label for="autor">Autor:</label>
  <input type="text" id="autor" name="autor" th:field="*{autor}"/>
  <br>
  <button type="submit">Salvar</button>
  <a th:href="@{/noticia}">Cancelar</a>
</form>
</body>
</html>